  hr {
    border: 0;
    clear: both;
    display: block;
    width: 98%;
    background-color: #1d1d18;
    height: 1px;
  }

  body {
    background-color: #FFF4D9;
    height: 100vh;
  }

  h2 {
    margin: 10px 10px 10px 20px;
  }

  p {
    margin: 20px;
  }

  .receita{
    margin: 20px;
  }

a {
  font-size:large;
}